.grid1{
    background-color: aqua;
}

.grid2{
    background-color: blueviolet;
}

.grid3{
    background-color: chartreuse;
}


.grid4{
    background-color: saddlebrown;
}

.text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search{
    text-align: center;
}

.input{
    width: 500px;
    height: 25.8px;
    position: relative;
    border-radius: 27px;
    border: 1px solid gray;
    font-size: 13px;
    cursor:revert;
}

#button{
    width: 40px;
    height: 28.5px;
    position: relative;
    top: 8.8px;
    border: 1px solid grey;
    right: 2.5rem;
    background-color:rgb(238, 238, 238);
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(0, 193, 0);
    position: relative;
    top: 11px;
    left: 22rem;
}